--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.0
torchvision==0.20.0
omegaconf
torchmetrics==1.6.2
fvcore
iopath
xformers==0.0.29
submitit
# --extra-index-url https://pypi.nvidia.com
cuml-cu11
